<div class="sheetMusicInfoContainer">
    <h2>{{sheetMusic.title}}</h2>
    <button
    (click) = "GetPreview()">Show Preview</button>
    <pdf-viewer *ngIf="showPreview"
       [src] = "sheetMusic.location" [show-all] = "false" [page]="1" [original-size]="false">
    </pdf-viewer>
</div>