<div class="folder-content-container">
  <div class="thumbnail" *ngFor="let music of availableMusic">

    <a [routerLink]="['/sheetMusic/', music.id]">{{music.title}}
            <pdf-viewer 
            [src] = "music.location" [show-all] = "false" 
            [page]="1" 
            [original-size]="true"
            [fit-to-page]="false"
            [zoom]="0.2"
            [autoresize]="true"></pdf-viewer>
        </a>
  </div>
</div>