<div class="main-body">
  <div class="nav-links">
      <a [routerLink]="['/home/']">Home</a>
      <a [routerLink]="['/about/']">About</a>
      <a [routerLink]="['/catalogue/']">Catalogue</a>
  </div>
  <div class="nav-link-container">
      <router-outlet></router-outlet>
  </div>

</div>