
.nav-links {
    overflow: hidden; 
    background-color: #424141; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    
}

.nav-links a {
    float: left; 
    display: block; 
    text-decoration: none; 
    text-align: center; 
    padding: 14px 16px; 
    font-size: 2em; 
    color: #F0EAE0; 
    border: 4px solid #424141; 
    
    
}

.nav-links a:hover {
    border: 4px solid black; 
}

.nav-links a:active {
    border: 4px solid black; 
}


.nav-link-container { 
    margin-top: 80px; 
    
}