.available-music-container {
    font-size: 1em; 
    
}
.thumbnail {
    width: 180px; 
    display: block; 
    float: left; 
    margin: 7px 15px; 
    font-weight: bold; 
    
    
    
}
.thumbnail a{
    width: 100%; 
    height: auto; 
    font-size: 1.1em; 
    text-decoration: none; 
    float: left; 
    text-align: center; 
    border: 4px solid #F9EEEE; 
}
.thumbnail a:hover{
    border: 4px solid black;
}

