<div class="available-music-container">

    <div class ="folder-view" *ngFor="let folder of availableFolders">
        
        <a [routerLink] = "['/folderContents/', folder.title]">{{folder.title}}</a>
    </div>

</div>