/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%; 
    width: 100%; 
      
    
}

body::before {
    height: 100%;
    width: 100%; 
    content: ''; 
    display: block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    background-image: url('../Background pics/music-notes-background2.jpg');
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;  
    z-index: -1; 
    opacity: 0.2; 

}

body {
    position: relative; 
    z-index: 1; 
    overflow: hidden; 
    

}